<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <!-- fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
        
        
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
         <script src="https://kit.fontawesome.com/b99e61796e.js" crossorigin="anonymous"></script>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/npm/gijgo@1.8.1/combined/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://cdn.jsdelivr.net/npm/gijgo@1.8.1/combined/css/gijgo.min.js" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/lightbox.min.css">
        <script type="text/javascript"  src="js/lightbox-plus-jquery.min.js"></script>
       



       
        <link rel="stylesheet" type="text/css" href="resource/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="resource/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="mstyle.css">
        <link rel="stylesheet" type="text/css" href="style.css">

        <title>Footprints of Kolkata</title>
    </head>
    <body>
        <!-- <nav class="menu">
            <ul class="active">
              <li class="current-item"><a href="/">HOME</a></li>
              <li><a href="#Igallery">EXPLORE</a></li>
              <li><a href="#serviceRef">SERVICES</a></li>
              <li><a href="/team">TEAM</a></li>
              <li><a href="sign-in">SIGN-IN</a></li>
              <li><a href="/contact">CONTACT US</a></li>
            </ul>
      
            <a class="toggle-nav" href="#">&#9776;</a>
      
            <form class="search-form">
              <input type="text" />
              <button>Search</button>
            </form>
          </nav>
          <div class="container">
              
          </div> 
          <script>
            jQuery(document).ready(function () {
              jQuery(".toggle-nav").click(function (e) {
                jQuery(this).toggleClass("active");
                jQuery(".menu ul").toggleClass("active");
      
                e.preventDefault();
              });
            });
          </script> -->
        <nav class="navbar navbar-expand-lg  bg-dark">
            <a class="navbar-brand " href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-chevron-circle-down dropdown"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item active">
                  <a class="nav-link" href="/">Home </a>
                </li> -->
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#Igallery">Explore</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#serviceRef">Services</a> -->
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/team" >Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/contact" >Contact Us</a>
                </li>
              </ul>
            </div>
          </nav>
        