<%- include("partials/header(2)") -%>
    <div class="contact-section">
        <h1 id="head">REACH OUT TO US</h1>
        <div class="form-container">
            <form class="contact-form" action="mailto:footprintsofkolkata@gmail.com" method="post" enctype="text/plain">
                <input class ="form-data" type="text" name = "name" placeholder="Enter your name" autofocus autocomplete="none">
                <input class ="form-data" type="email" name="email" id="" placeholder="Enter your email" autocomplete="none">
                <textarea class ="form-data" name="question" id="" cols="30" rows="10" placeholder="Write here"></textarea>
                <button type="submit" class="contact-form-btn">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
<%- include("partials/footer") -%>