<%- include("partials/header(2)") -%>

<div class="monsary">
    <h1 class="heding">KOLKATA THROUGH LENS</h1>
	<main class="continer">
		<div><a href="images/9%20(1).jpg" data-lightbox="mygallery" data-title="Pic credits to @_siddharth_photography_"><img src="images/9%20(1).jpg" alt=""></a></div>
        <div class="vertical"><a href="images/2.jpg" data-lightbox="mygallery" data-title="credits:@i.msurit_official"><img src="images/2.jpg" alt=""></a></div>
        <div class="horizontal"><a href="images/9%20(15).jpg" data-lightbox="mygallery" data-title="credits:@stellersen"><img src="images/9%20(15).jpg"alt=""></a></div>
        <div><a href="images/9%20(4).jpg" data-lightbox="mygallery" data-title="credits:@the_fickle_mind"><img src="images/9%20(4).jpg" alt=""></a></div>
        <div><a href="images/9(5).jpg" data-lightbox="mygallery" data-title="credits:@meet_yourself"><img src="images/9(5).jpg" alt=""></a></div>
        <div class="big"><a href="images/9(21).jpg" data-lightbox="mygallery" data-title="credits:@sam_photographer"><img src="images/9(21).jpg" alt=""></a></div>
        <div><a href="images/9(19).jpg" data-lightbox="mygallery" data-title="credits:@kolkatadelites"><img src="images/9(19).jpg" alt=""></a></div>
        <div class="vertical"><a href="images/8.jpg" data-lightbox="mygallery" data-title="credits:@seshadri.sarkar"><img src="images/8.jpg" alt=""></a></div>
        <div><a href="images/9(20).jpg" data-lightbox="mygallery" data-title="credits:@photosticlife"><img src="images/9(20).jpg"alt=""></a></div>
        <div class="horizontal"><a href="images/9%20(10).jpg" data-lightbox="mygallery" data-title="credits:@yourfoodlab"><img src="images/9%20(10).jpg" alt=""></a></div>
        <div><a href="images/5.jpg" data-lightbox="mygallery" data-title="credits:@photographer_rony"><img src="images/5.jpg" alt=""></a></div>
        <div class="big"><a href="images/7.jpg" data-lightbox="mygallery" data-title="credits:@photosticlife"><img src="images/7.jpg" alt=""></a></div>
        <div><a href="images/9%20(13).jpg" data-lightbox="mygallery" data-title="credits:@av.jit.bis_kolkata"><img src="images/9%20(13).jpg" alt=""></a></div>
        <div class="horizontal"><a href="images/9%20(14).jpg" data-lightbox="mygallery" data-title="credits:@ajit_k_majhi"><img src="images/9%20(14).jpg" alt=""></a></div>
        <div><a href="images/9(22).jpeg" data-lightbox="mygallery" data-title="credits:@savorytales"><img src="images/9(22).jpeg" alt=""></a></div>
        <div class="big"><a href="images/9%20(16).jpg" data-lightbox="mygallery" data-title="credits:@vision_of_veiwer"><img src="images/9%20(16).jpg" alt=""></a></div>
        <div><a href="images/9%20(17).jpg" data-lightbox="mygallery" data-title="credits:@prithas_passion"><img src="images/9%20(17).jpg" alt=""></a></div>
        <div class="vertical"><a href="images/9(23).jpeg" data-lightbox="mygallery" data-title="credits:@towering_goals"><img src="images/9(23).jpeg" alt=""></a></div>
         <div><a href="images/9%20(18).jpg" data-lightbox="mygallery" data-title="credits:@the_lens_vision"><img src="images/9%20(18).jpg" alt=""></a></div>
    <div><a href="images/9(24).jpeg" data-lightbox="mygallery" data-title="credits:@i_n_d__r__a"><img src="images/9(24).jpeg" alt=""></a></div>
        <div><a href="images/9%20(6).jpg" data-lightbox="mygallery" data-title="credits:@kolkatadelites"><img src="images/9%20(6).jpg" alt=""></a></div>
	</main>
</div>


<%- include("partials/footer") -%>    