<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
       <script src="https://kit.fontawesome.com/b99e61796e.js" crossorigin="anonymous"></script>
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    
    </head>
         
    <body>
      <nav class="navbar navbar-expand-lg  bg-dark">
        <a class="navbar-brand " href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-chevron-circle-down dropdown"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/team" >Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/contact" >Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
      <section class="team">
        <div class="container">
              <h1 id="Team">OUR TEAM</h1>
              <div class="row">
                 
                 
                <div class="team-member">
                    <div class="image">
                        <img src="resource/DSC_0117.JPG">
                    </div>    
                  <h2>Mayukh Bagchi</h2>
                    <h3 class="role">Back-end web developer</h3>
                    <ul>
                       <li><a href="https://www.facebook.com/mayukh.bagchi.1" target="_blank"><i class="fa fa-facebook"></i></a></li> 
                        <li><a href="https://www.instagram.com/r.e.a.p.e.r_5/" target="_blank"><i class="fa fa-instagram"></i></a></li> 
                        <li><a href="https://www.linkedin.com/in/mayukhbagchi/" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
                    </ul>
                </div>
                  
                 
                 <div class="team-member">
                     <div class="image">
                         <img src="resource/jit.jpeg">
                     </div>
                     <h2> Jit Ghosh</h2>
                       <h3 class="role">Back-end web developer</h3>
                      <ul>
                       <li><a href="https://www.facebook.com/jitkumar.ghosh" target="_blank"><i class="fa fa-facebook"></i></a></li> 
                        <li><a href="https://www.instagram.com/jitk48/" target="_blank" ><i class="fa fa-instagram"></i></a></li> 
                        <li><a href="https://www.linkedin.com/in/jit-kumar-ghosh-9747931ab/" target="_blank" ><i class="fa fa-linkedin"></i></a></li> 
                       
                    </ul>
                </div>
                  
                  
                 <div class="team-member">
                     <div class="image">
                           <img src="resource/shashank.jpeg">
                     </div>
                     <h2>N Sai Shashank</h2>
                       <h3 class="role">MERNstack Developer</h3>
                      <ul>
                       <li><a href="https://www.facebook.com/saishashank00" target="_blank"><i class="fa fa-facebook"></i></a></li> 
                        <li><a href="https://www.instagram.com/soishoshank/" target="_blank"><i class="fa fa-instagram"></i></a></li> 
                        <li><a href="https://www.linkedin.com/in/n-sai-shashank-58034a159/" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
                    </ul>
                </div> 
                
                  
                <div class="team-member">
                      <div class="image">
                           <img src="resource/WhatsApp%20Image%202020-06-06%20at%2013.11.47.jpeg">
                    </div>
                     <h2> Madhumanti Gupta</h2>
                      <h3 class="role">Front-end Web Developer</h3>
                     <ul>
                       <li><a href="https://www.facebook.com/madhumanti.gupta.31" target="_blank"><i class="fa fa-facebook"></i></a></li> 
                        <li><a href="https://www.instagram.com/guptamadhumanti/" target="_blank"><i class="fa fa-instagram"></i></a></li> 
                        <li><a href="https://www.linkedin.com/in/madhumanti-gupta-6503ab184/" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
                    </ul>
                </div>
                
                  
                <div class="team-member">
                      <div class="image">
                            <img src="resource/ami.jpeg">
                    </div>
                    <h2> Manjulika  Mondal</h2>
                      <h3 class="role">Front-end Web Developer</h3>
                     <ul>
                       <li><a href="https://www.facebook.com/manjulika.mondal.3" target="_blank"><i class="fa fa-facebook"></i></a></li> 
                        <li><a href="https://www.instagram.com/manjulimondal/" target="_blank"><i class="fa fa-instagram"></i></a></li> 
                        <li><a href="https://www.linkedin.com/in/manjulika-mondal-2286631a7/" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
                    </ul>
                </div>
            </div>
        </div>
      </section>
    </body>
</html>